* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: white;
}

.container {
    display: flex;
}

.main-page {
    width: 100%;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.star {
    color: yellow;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.movie-item {
    cursor: pointer;
    text-align: center;
}

.movie-item img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.movie-details-page {
    display: none;
    flex-direction: column;
    width: 50%;
    background-color: #333;
    padding: 20px;
    position: relative;
}

.movie-details {
    text-align: center;
}

.movie-details img {
    width: 250px;
    height: 350px;
    margin-bottom: 20px;
}

.back-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button:hover {
    background-color: #777;
}

.movie-grid {
    margin-top: 20rem;
}
